@charset "UTF-8";
html, body {margin: 0; height: 100%; overflow-x: hidden}
button{
    color: black;
    background-color: transparent;
    border-radius: 2px;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 25%;
    display: flex;
    z-index: 0;
    border-style: solid;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
}

button:hover{
    color:blanchedalmond;
    text-shadow: 0 0 1px blanchedalmond, 0 0 1px blanchedalmond;
    animation: glow 2.5s linear infinite;
}
a.rainbow::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 42% 38% 0% 0%;
    z-index: -1;
    transition: all .5s;
}
a.rainbow:hover::before {
    top: 0px;
    border-radius: 0;
}

@keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
 pre {
  position: relative;
  overflow: auto;
  margin: 30px 0 40px 0;
  color: #c5c8c6;
  background-color: #0d1117;
  border-radius: 2px;
  box-shadow: 0 20px 25px -20px rgba(0,0,0,0.7);
  width: fit-content;
}
pre.H{
  display: block;
  font-family: monospace;
  white-space: pre;
  width: 275px;
  margin: 1em 0px;
}
pre.F{
  display: block;
  font-family: monospace;
  white-space: pre;
  width: 520px;
  margin: 1em 0px;
}
.code-title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font: 12px/16px Monaco, MonacoRegular, monospace;
  color: #eee;
  background-color: #3c3843;
  background-color: rgba(255,255,255,0.1);
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.hw:hover{
  animation: float 1.5s ease-in-out infinite;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #C13584;
}

.rounded-social-buttons .social-button.instagram:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #C13584;
  background: #fefefe;
  border-color:   #C13584;
  ;
}

.rounded-social-buttons .social-button.github {
  background: #000000;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}
p.indent{
  text-indent: 40px;
  color: var(--grayishBlue);
}
:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}
.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;  
}

img {
  float: right;
}

@media (max-width: 450px) {
  .box {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}

h2 {
  color: #000;
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box {
      width: 20%;
   
  }
  .header p {
      width: 30%;
  }
  
}

.borderMenu{   
  position: relative;
  border: 3px solid black; 
  width: 102%;
  left: -3px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.menu{
  text-align: center;
  display: flex;
  width: 102%;
  height: 30px;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}
.menu li{
  list-style: none;
  float: left;
  text-align: center;
  height: fit-content;
  padding-top: 4px;
  position: relative;
  font-size: large;
  transition: transform 0.5s ease-in-out 0s;
}
.menu li:hover, a{
  transform: rotate(360deg);
}
.menu li a{
  text-decoration: none;
  color: #000;
}
.vl{
  border-left: 2px solid black;
  border-right: 2px solid black;
  float: left;
  height: 66px;
  position: relative;
  top: -17px;
}